@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #000;
$color-base: #000;
$color-main: #000;
$color-accent: #000;
$color-bg: #000;

// --- Typography ---
$font-size-base: 16;

$font-family-gothic: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Yu Gothic",
    Meiryo,
    sans-serif;

$font-family-mincho: "Times New Roman",
    Times,
    "Hiragino Mincho ProN",
    "Yu Mincho",
    "MS PMincho",
    serif;


// =================================================================
//  Functions
// =================================================================

@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}


// =================================================================
//  Mixins
// =================================================================

@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin inner($mw: 1000px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}


// =================================================================
//  Base
// =================================================================

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-family-gothic;
    color: $color-text;
    background-color: #fff;
    position: relative;
}


// =================================================================
//  Header
// =================================================================

.map__header {
    width: 100%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
}


.map__back {
    position: absolute;
    top: rem(50);
    left: rem(15);
    z-index: 200;
    width: rem(45);
    height: rem(45);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;

    background-color: #fff;
    color: #000;

    font-size: rem(24);
    font-weight: 700;

    cursor: pointer;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    &:active {
        transform: scale(0.95);
    }
}

// =================================================================
//  Map
// =================================================================

.map__page {
    overflow: hidden;
}

.map {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 100dvh;

    margin: 0 auto;

    overflow: hidden;

    background-color: #fff;
}

.map__canvas {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
}

.map__detail {
    position: absolute;
    font-size: rem(16);
    left: 0;
    right: 0;
    bottom: 0;
    padding: rem(30) rem(20);
    z-index: 1000;
    border-radius: 25px 25px 0 0;

    background-color: #fff;

    box-sizing: border-box;

    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);

    &-title {
        font-size: rem(18);
        font-weight: bold;
        margin-top: rem(30);
        margin-bottom: rem(15);
    }

    &-item {
        display: flex;
    }

    &-close {
        display: block;
        border: none;
        color: $color-text;
        font-size: rem(20);
        font-weight: 700;
        cursor: pointer;

        transition:
            background-color 0.2s ease,
            transform 0.2s ease;

        &:active {
            transform: scale(0.98);
        }
    }
}


.map__button {
    display: block;
    text-align: center;
    width: 100%;

    margin-top: rem(20);
    padding: rem(30) rem(20);

    box-sizing: border-box;

    border: none;
    border-radius: rem(100);

    background-color: #f1f1f1;

    color: $color-text;

    font-family: inherit;
    font-size: rem(15);
    font-weight: 700;

    cursor: pointer;

    transition:
        background-color 0.2s ease,
        transform 0.2s ease;

    &:hover {
        background-color: #e5e5e5;
    }

    &:active {
        transform: scale(0.98);
    }
}

.map__detail[hidden] {
    display: none;
}



// =================================================================
//  Header
// =================================================================

.news__header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 500;
    width: 100%;
    max-width: 480px;
    height: rem(100);
    margin: 0 auto;
    padding: rem(45) 0 rem(15) 0;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
}

.news__title {
    margin-right: auto;
    margin-left: auto;
    font-size: rem(20);
    font-weight: bold;
}


.news {
    width: 100%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: rem(150);

    &__inner {
        @include inner();
    }

    &__list {
        display: grid;
        grid-template-rows: auto;
        row-gap: rem(20);
    }

    &__item {
        display: block;
        border-bottom: 1px solid #dddddd;
        padding-bottom: rem(20);
    }
}

.article {
    &__detail {
        display: flex;
        align-items: center;
        column-gap: rem(10);
        margin-bottom: rem(15);
    }

    &__tag {
        background-color: #d9d9d9;
        padding: rem(5) rem(10);
        border-radius: rem(30);
    }

    &__title {
        font-size: rem(18);
        font-weight: bold;
    }

    &__page {
        width: 100%;
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
    }

    &__inner {
        @include inner();
        margin-top: rem(130);
    }

    &__text {
        margin-top: rem(30);
        line-height: 1.5;
    }
}



// =================================================================
//  start
// =================================================================

.start {
    width: 100%;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
}